# Dependencias de Node.js
.DS_Store
node_modules
/dist 
package-lock.json

# Variables de entorno .env

# Logs y archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Archivos de compilación
dist/
build/

# Caché y configuración del editor
.cache/
.vscode/
.DS_Store
Thumbs.db

# Archivos de cobertura (si usas pruebas con cobertura)
coverage/
